body,
html {
  font-family: "Ubuntu", sans-serif;
  padding: 0;
  margin: 0;
  background-color: #75e6da;
}

.container {
  max-width: 50%;
  margin: auto;
  padding: 2%;
  background-color: #189ab4;
  box-shadow: 0 0 30px #05445e;
}

h1 {
  color: #05445e;
}

select,
button {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 110%;
  display: block;
  width: 100%;
  padding: 2%;
  margin-top: 5%;
  color: #05445e;
  background-color: #d4f1f4;
}

#result {
  font-family: "Ubuntu", sans-serif;
  font-size: 120%;
  margin-top: 5%;
  color: #05445e;
}

#weather-info {
  font-family: "Ubuntu", sans-serif;
  font-size: 120%;
  margin-top: 5%;
  color: #05445e;
}
